/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(blob/main/SSGbase.png);
}

.ds4.white.disconnected {
    background: url(blob/main/SSGdisconnected.png);
}

.ds4.white .trigger {
    background-image: url(blob/main/SSGtriggers.png);
}

.ds4.white .bumper {
    background-image: url(blob/main/SSGbumper.png);
}

.ds4.white .back, .ds4 .start {
    background-image: url(blob/main/SSGstart.png);
}

.ds4.white .button {
    background-image: url(blob/main/SSGface.png);
}

.ds4.white .stick {
    background-image: url(blob/main/SSGsticks.png);
}

.ds4.white .face {
    background-image: url(blob/main/SSGdpad.png);
}

/*END PS4 White Controller Styling*/
